{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}
{% block content%}
<section class="module">
    <div class="container">
        <h3>{% trans "Profile" %}</h3>
        <hr class="divider-w mb-10">
        <div class="row d-flex align-items-stretch">
            {% if user.is_authenticated %}
            <div class="text col-xl-6 ">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for form in user_form %}
                    <div class="form-group">
                        {{form}}
                    </div>
                    {% endfor %}

                    <table>
                        {{ user_form.as_table }}
                        {{ profile_form.as_table }}
                    </table>
                    <hr class="divider-w mb-10">
                    <div class="form-group">
                        <div class="col-md-6">
                            <button class="form-control logbtn logbtn-round logbtn-v"
                                type="submit">{% trans "Save" %}</button>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>

    </div>
</section> {% endblock content %}